:root {
  --dark1: #181818;
  --dark2: #222222;
  --dark3: #464646;
  --orange: #f78511;
  --yellow: #f0d127;
}

.container-information {
  width: 570px;
  background-color: var(--dark1);
  display: flex;
  flex-direction: column;
}